
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #723432;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.tripulação-imagem{
    width: 10%;
}

.tripulação{
    background-image: linear-gradient(#d14646,#ad2b0a);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.tripulação-div-conteudo{
    width: 35%;
}
.tripulaçãotitulo{
    padding: 24px 0;
}
.tripulante{

    padding: 24px 0;
}
.tripulante-imagem{
    width: 120px;
}

.tripulante-icone{
    width: 24px;
    padding: 4px 8px;
}

.tripulante-div{
    text-align: center;
    padding: 16px 0;
}

